.m{
   margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: tomato;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: white;
}
.d{
 position: fixed;
    left: 27%;

}
